<section class="smart-scroll">
    <div class="container-fluid">
        <nav class="navbar navbar-expand-md navbar-light">
            <a class="navbar-brand heading-black" href="/">
                <img class="img-logo" src="{{{global.img_logo_nav}}}=s520"/>
            </a>
        </nav>
    </div>
</section>
